
@import 'reset-css';
@import 'menu';
@import 'layout';


#lien {
  display: none;
}

.menu{

padding: 0;
margin:0;
list-style-type: none;
display: flex;
flex-direction: column;
align-items: center;

}

.hamburger {
  width: 100%;
  height: auto;
}

@media screen and (min-width:768px) {

   
    
    .hamburger  {
      display: none;
    }    
    
    #lien {
      display: block;
    }
    
    
    .menu{
        flex-direction: row;
        justify-content: space-around;

    }
 

    
}